node_modules
.env
.DS_Store

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
deployments/baseSepolia/AccumulatedYield.json
deployments/baseSepolia/BasicVault.json
deployments/baseSepolia/Creation.json
deployments/baseSepolia/Crowdsale.json
deployments/baseSepolia/FundFactory.json
deployments/baseSepolia/MockUSDT.json
deployments/baseSepolia/TokenFactory.json
deployments/baseSepolia/VaultFactory.json
deployments/baseSepolia/VaultToken.json
deployments/baseSepolia/YieldFactory.json
deployments/baseSepolia/solcInputs/62cbaf34ea0223b74d13075bd4d731fe.json
deployments/baseSepolia/solcInputs/886b2a106e3636c86a47aca0c91900e7.json
deployments/hardhat/.chainId
deployments/hardhat/AccumulatedYield.json
deployments/hardhat/BasicVault.json
deployments/hardhat/Creation.json
deployments/hardhat/Crowdsale.json
deployments/hardhat/FundFactory.json
deployments/hardhat/MockUSDT.json
deployments/hardhat/TokenFactory.json
deployments/hardhat/VaultFactory.json
deployments/hardhat/VaultToken.json
deployments/hardhat/YieldFactory.json
deployments/hardhat/solcInputs/886b2a106e3636c86a47aca0c91900e7.json
deployments/localhost/.chainId
deployments/localhost/AccumulatedYield.json
deployments/localhost/BasicVault.json
deployments/localhost/Creation.json
deployments/localhost/Crowdsale.json
deployments/localhost/FundFactory.json
deployments/localhost/MockUSDT.json
deployments/localhost/TokenFactory.json
deployments/localhost/VaultFactory.json
deployments/localhost/VaultToken.json
deployments/localhost/YieldFactory.json
deployments/localhost/solcInputs/cb275360d9a04dde38842e7637f9762c.json
